<br><br>

<div>
	<table>
		<tr>
			<th>Judul</th>
			<th>Isi</th>
			<th>Tanggal</th>
      <th>Favorite</th>
		</tr>
		<tr *ngFor="let count of datatemp; let i = index">
			<td>{{datatemp[i].judul}}</td>
			<td>{{datatemp[i].isi}}</td>
			<td>{{datatemp[i].tanggal}}</td>
      <td><button (click)="btnfav(i)">Favorite</button></td>
		</tr>

	</table>
</div>

<!-- <div *ngFor="let count of datatemp; let i = index">
  {{datatemp[i].judul}}
  {{datatemp[i].isi}}
  {{datatemp[i].tanggal}}
</div> -->